frontend/node_modules
frontend/.output
frontend/.vercel
frontend/.netlify
frontend/.wrangler
frontend/.svelte-kit
frontend/build
frontend/.DS_Store
frontend/Thumbs.db
frontend/.env
frontend/.env.*
frontend/!.env.example
frontend/!.env.test
frontend/vite.config.js.timestamp-*
frontend/vite.config.ts.timestamp-*

backend/.phpunit.cache
backend/node_modules
backend/public/build
backend/public/hot
backend/public/storage
backend/storage/*.key
backend/storage/pail
backend/vendor
backend/.env
backend/.env.backup
backend/.env.production
backend/.phpactor.json
backend/.phpunit.result.cache
backend/Homestead.json
backend/Homestead.yaml
backend/npm-debug.log
backend/yarn-error.log
backend/auth.json
backend/.fleet
backend/.idea
backend/.nova
backend/.vscode
backend/.zed
